.about
  %h1 About Wiki

  %h3
    User Roles:
    %ul
      %h4
        %li
          Guest(un-signed)
          %ul
            %li
              View all public wikis
            %li
              Standard User
            %ul
              %li Free
              %li Create and edit public wikis
              %li Can participate as a collaborator on a private wiki
              %li Delete you own public wikis
            %liPremium User
          %ul
            %li
              One time fee of $15.00
            %li
              Create and edit public wikis
            %li
              Create and edit private wikis
            %li
              Add and/or remove collaborators to private wikis
            %li
              Delete you own private wikis
            %li Admin User
          %ul
            %li
              Assigned only
            %li
              Access to everything

  %h3
    Wiki type
  %ul
    %h4
      %li
        Public Wikis
      %ul
        %li
          Can be viewed by everyone
        %li
          Private Wikis
      %ul
        %li Accessible by admin, premium or collaborator users only
