<div class="about">
  <h1>About WikiLand</h1>

  <h3>User Roles:</h3>
  <ul>
    <h4>
      <li>Guest(un-signed)</li>
      <ul>
          <li>View all public wikis</li>
      </ul>
      <li>Standard User</li>
      <ul>
        <li>Free</li>
        <li>Create and edit public wikis</li>
        <li>Can participate as a collaborator on a private wiki</li>
        <li>Delete you own public wikis</li>
      </ul>
      <li>Premium User</li>
      <ul>
        <li>One time fee of $15.00</li>
        <li>Create and edit public wikis</li>
        <li>Create and edit private wikis</li>
        <li>Add and/or remove collaborators to private wikis</li>
        <li>Delete you own private wikis</li>
      </ul>
      <li>Admin User</li>
      <ul>
        <li>Assigned only</li>
        <li>Access to everything</li>
      </ul>
    </h4>
  </ul>


  <h3>Wiki type</h3>
  <ul>
    <h4>
      <li>Public Wikis</li>
      <ul>
          <li>Can be viewed by everyone</li>
      </ul>
      <li>Private Wikis</li>
      <ul>
        <li>Accessible by admin, premium or collaborator users only</li>
      </ul>
    </h4>
  </ul>
</div>
