<h1>Wikis</h1>

<!-- original index.html.erb  for wiki -->



<table class="table table-hover">
    <thead>
      <tr>
        <th><h4>Tile</h4></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%#= render @wikis %>
      <%= render partial: 'wiki', locals: { wikis: @wikis }, collection: @wikis %>
    </tbody>
  </table>
  <%#= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(@wikis).create? %>
  <%= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(Wiki).new? %> <!-- OK -->
</div>

<br/><br/><br/>

<%#= render @wikis %>
